<div class="dialog login_dialog is_draggable">
<div class="dialog_background"></div>
<div class="title">Sign in</div>
<div class="information"></div>
<div class="title_background gradient_medium"></div>
<div class="content">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:id=>"login_form"}) do |f| %>
  <div class="line">
    <div class="text_input">
      <div class="background">
        <div class="inner">
          <%= f.text_field :email %>
        </div>
      </div>
    </div>
    <label for="user[email]">Username:<br/>
      <span class="example">Forgot?</span>
    </label>
  </div>
  <div class="line">
    <div class="text_input">
      <div class="background">
        <div class="inner">
          <%= f.password_field :password %>
        </div>
      </div>
    </div>
    <label for="user[password]">Password:<br/>
      <span class="example"><%= link_to "Forgot?", new_password_path(resource_name) %></span>
    </label>
  </div>
  <div class="controls">
   <%= f.submit "Sign in" %>
  </div>
<% end %>
</div>
</div>